.navbarContainer {
  position: fixed;
  transition: all 0.3s linear;
  bottom: 3rem;
  left: 3rem;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  background-color: transparent;
  padding: 0;
  z-index: 5;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  background-color: transparent;
}

.navbarContainer.isOpen {
  left: 2rem;
  bottom: 2rem;
  width: 15rem;
  height: calc(100% - 4rem);
  padding: 1rem;
  border-radius: 20px;
  background-color: var(--main-color);
  box-shadow: inset 0 0 0 1px var(--shadow-color1),
    inset 0 0 0 2px var(--shadow-color2);
}

.navbarContainer.isOpen .menuContainer {
  flex: 1;
}

.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px var(--shadow-color1),
    inset 0 0 0 2px var(--shadow-color2);
}

.navbarContainer.isOpen .avatarContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
