.websiteContainer {
  width: 100%;
  height: 10rem;
  display: flex;
  padding: 0 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(59, 58, 58); */
}

.websiteList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.websiteItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.3s linear;
}

.websiteItem .favicon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.3s linear;
}

.websiteItem:hover .favicon {
  transform: scale(1.2);
}
